<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste sua sorte</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/icon.png">
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
</head>
<body>
    <nav>
        <ul>
          <li><a href="/">Sortear um Cliente</a></li>
          <li><a href="/list">Listar Sorteados</a></li>
      </ul>
    </nav>
    <div class="main">
        <div class="logo">
            <img src="/img/logo.png" alt="Navelinknetlogo">
        </div>
        {{{body}}}
        <footer>
            <p>
                Copyright &#169; 2024 Navelinknet. Todos os direitos reservados.
            </p>
        </footer>
    </div>
</body>
</html>