@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #4169e1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    padding: 1.25vh;
    display: flex;
    margin-top: 2vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 57.5vw;
    width: 100vw;
    min-height: 22.5vh;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

.btn {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 1.25rem;
    color: #fff;
    background-color: #4169e1;
    padding: 10px 30px;
    border: solid #4169e1 3px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.btn:hover {
    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background-color: #fff;
    color: #4169e1;
    border: solid 3px #4169e1;
}

.logo img {
    width: auto;
    height: 7vh;
}

.winner{
    font-size: 0.8em;
    color: #444;
    font-weight: bold;
}

h2{
    margin-top: .3em;
}

.intro {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #555;
}
