@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #4169e1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    padding: 1em 2em;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 0 auto 2em;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

nav ul li a:hover {
    color: royalblue;
}

nav ul li a {
    text-decoration: none;
    color: #222;
    transition: 0.5s ease;
    font-weight: bold;
    font-size: 1.1rem;
}

.main {
    margin-top: 20vh;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    padding: 1.25vh;
    display: flex;
    margin-top: 2vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 57.5vw;
    width: 100vw;
    min-height: 22.5vh;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

.intro {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #222; /* Cor da fonte desejada, por exemplo, laranja */
    margin-bottom: 1.2vh;
}

.btn {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 1.25rem;
    color: #fff;
    background-color: #4169e1;
    padding: 10px 30px;
    border: solid #4169e1 3px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.btn:hover {
    transition: 1000ms;
    transform: translateY(-0px);
    background-color: #fff;
    color: #4169e1;
    border: solid 3px #4169e1;
}

.logo img {
    width: auto;
    height: 7vh;
}

.winner{
    font-size: 0.8em;
    color: #444;
    font-weight: bold;
    margin-bottom: 2vh;
}

h2{
    margin-top: .3em;
}

.c-loader {
    animation: is-rotating 1s infinite;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    border: 6px solid #e5e5e5;
    border-top-color: royalblue;
    display: none;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}

.city-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-control label {
    font-size: 1.4rem;
    color: #555;
    font-weight: bold;
    margin: 0.5vh;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 1.2vh;
    width: 100%;
}

option {
    text-align: center;
}

.select select {
    width: 100%;
    cursor: pointer;
    margin-top: 1.2vh;
    padding: 1vh;
    border: 0px solid #000000;
    border-radius: 10px;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 1.3rem;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover,
.select select:focus {
    color: #000000;
    background: #cccccc;
}

.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}

.winners {
    color: #222;
}

.winners ul li{
    margin-top: .5vh;
    margin-bottom: .5vh;
    list-style: none;
    font-size: 1.25rem;
    font-weight: 600;
}

footer {
    margin-top: auto;
    margin-bottom: 2vh;
}
  
footer p {
    color: white;
    text-align: center;
}
