<div class="container">
    <div class="intro">
        <p>&#127873; Quem será o sorteado? &#127873;</p>
    </div>
    <div>
        <button class="btn" onclick="window.location.href='/sort'">Sorteie um cliente</button>
    </div>
</div>