<div class="container">
    <div class="winner">
        {{#if winner}}
        <h1>&#127881 Parabéns {{winner.Name}}! &#127881</h1>
        <h2>Contrato: {{winner.ID}}</h2>
        {{/if}}
    </div>
    <div class="btn-container">
        <button class="btn"  onclick="backToHome()">Sorteie Novamente</button>
    </div>
</div>

<script>
    window.onload = function(){
        startConfetti()
    }

    function backToHome(){
        window.location.href= '/'
    }

    function startConfetti(){
    let counter = 0
        const interval = setInterval(function(){
            counter++
            confetti()
            if(counter == 20){
                clearInterval(interval)
            }
        }, 50)
    }
</script>