<div class="container">
    <div class="winner">
        {{#if winner}}
        <h1>&#127881 Parabéns {{winner.Name}}! &#127881</h1>
        <h2>Contrato: {{winner.ID}}</h2>
        {{/if}}
    </div>
</div>

<script>
    const button = document.body
    let counter = 0
    button.addEventListener('mousemove', ()=>{
        button.style.pointerEvents = "none"
        const interval = setInterval(function(){
            counter++
            confetti()
            if(counter == 15){
                clearInterval(interval)
            }
        }, 50)
        })
</script>